.App {
  text-align: center;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffd5d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font-family: Verdana, Geneva, Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}